[Desktop Entry]
Name=CPod
Comment=A simple, beautiful podcast app.
Exec=cumulonimbus
Terminal=false
Type=Application
Icon=${SNAP}/meta/gui/cumulonimbus.png
Categories=Audio;
